<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all">
</head>
<body>
<blockquote class="layui-elem-quote news_search">

    <form class="layui-form">
        <div class="layui-inline">
            <label class="layui-form-label">门店名称</label>
            <div class="layui-input-inline">
                <select name="storeId" id="storeId" lay-search>
                    <option value="">请选择门店</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">仓库名称</label>
            <div class="layui-input-inline">
                <select lay-filter="homeId" name="homeId" id="homeId">
                    <option value="">请仓库门店</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">物品</label>
            <div class="layui-input-inline">
                <select name="goodsId" id="goodsId" lay-search>
                    <option value="">请选择物品(非必填)</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">报表日期</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="reportTime" name="reportTime" placeholder="请选择开始时间">
            </div>
        </div>

        <div class="layui-inline" style="margin-left: 20px">
            <button id="test2" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="search_btn">生成报表</button>
        </div>

    </form>

</blockquote>

<!--    图表-->
<div id="speedChart">
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="speedChartMain" class="layui-form news_list" style="width: 1000px; height: 450px;margin: 0 auto;"></div>
</div>

<div id="page"></div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/laydate/laydate.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/echarts/echarts.min.js}"></script>

<script>
    layui.use(['form', 'layer', 'jquery', 'laypage', 'laydate'], function () {
        var form = layui.form(),
            laypage = layui.laypage,
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            $ = layui.jquery;

        $.get("/store", function (data) {
            $.each(data, function (index) {
                var id = data[index].id;
                var value = data[index].name;
                //构造动态option
                $('#storeId').append("<option value='" + id + "'>" + value + "</option>")
            });
            form.render('select');
        });

        $.get("/shome", function (data) {
            $.each(data, function (index) {
                var id = data[index].homeId;
                var value = data[index].ckName;
                //构造动态option
                $('#homeId').append("<option value='" + id + "'>" + value + "</option>");
            })
            form.render('select');
        });

        var goods = [];
        //加载物品
        form.on('select(homeId)', function (data) {
            $.get("/goods/find?homeId=" + $('#homeId').find("option:selected").val()+"&supplierId=0", function (data) {
                goods = data;
                //清空
                $('#goodsId').empty("");
                $('#goodsId').append("<option value=0>请选择物品</option>")
                $.each(data, function (index) {
                    var id = data[index].id;
                    var value = data[index].goodsName;
                    //构造动态option
                    $('#goodsId').append("<option value='" + id + "'>" + value + "</option>")
                })
                form.render('select');
            });
        });

        // $.get("/goods", function (data) {
        //     $.each(data, function (index) {
        //         var id = data[index].id;
        //         var value = data[index].goodsName;
        //         //构造动态option
        //         $('#goodsId').append("<option value='" + id + "'>" + value + "</option>")
        //     })
        //     form.render('select');
        // });

        laydate.render({
            elem: '#reportTime',
            min: getNowFormatDate(30),
            range: true
        });

        function getNowFormatDate(days) {
            var date = new Date();
            date.setDate(date.getDate() - days)
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }

        form.on("submit(search_btn)", function (data) {
            var field = data.field;
            if (field.storeId === "" || field.homeId === "" || field.reportTime === "") {
                layer.msg("请输入必填参数");
            } else {
                $.ajax({
                    url: "/report/cgd?type=RK",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(field),
                    success: function (data) {
                        setList(data);
                    }
                });
            }
            return false;
        });

    })

</script>

<!-- 图表js -->
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('speedChartMain'));

    //加载数据
    function setList(newdata) {
        var jslength=0;
        for(var js2 in newdata){
            jslength++;
        }
        var Name = [];
        var Time = newdata[0].stringTime;
        var series=[];
        for(var i =0;i<jslength;i++){
            Name.push(newdata[i].goodsName);
            series.push({
                name: newdata[i].goodsName,
                type: 'line',
                data: newdata[i].numDate
            });
        }
        option = {
            title: {
                text: '采购报表'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: Name
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: Time
            },
            yAxis: {
                type: 'value'
            },
            series: series
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

</script>

</body>
</html>