<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all">
</head>
<body>
<blockquote class="layui-elem-quote news_search">
    <form class="layui-form">
        <div class="layui-inline">
            <label class="layui-form-label" >门店</label>
            <div class="layui-input-inline">
                <select name="storeId" id="storeId" lay-search>
                    <option value="">请选择门店</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" >物品</label>
            <div class="layui-input-inline">
                <select name="goodId" id="goodId" lay-search>
                    <option value="">请选择物品</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">预估日期</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="estimateDate" name="estimateDate" placeholder="请选择预估日期">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">参考日期</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="consultDate" name="consultDate" placeholder="请选择参考日期">
            </div>
        </div>

        <div class="layui-inline" style="margin-left: 570px">
            <button class="layui-btn layui-btn-normal"  lay-submit=""  lay-filter="search_btn">搜索</button>
        </div>
    </form>
</blockquote>
<div class="layui-form news_list">
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>预估日期</th>
            <th>星期</th>
            <th>物品</th>
            <th>参考日营业额</th>
            <th>预估营业额</th>
        </tr>
        </thead>
        <tbody class="news_content"></tbody>
    </table>
</div>
<div id="page"></div>
<script th:src="@{/laydate/laydate.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form','laydate','laypage'], function() {
        var form = layui.form(),
            laypage = layui.laypage,
            laydate  = layui.laydate,
            $ = layui.jquery;

        $.get("/store", function(data){
            $.each(data, function (index) {
                var id = data[index].id;
                var value = data[index].name;
                //构造动态option
                $('#storeId').append("<option value='"+id+"'>"+value+"</option>")
            });
            form.render('select');
        });


        $.get("/goods", function(data){
            $.each(data, function (index) {
                var id = data[index].id;
                var value = data[index].goodsName;
                //构造动态option
                $('#goodId').append("<option value='"+id+"'>"+value+"</option>")
            })
            form.render('select');
        });

        laydate.render({
            elem : '#estimateDate',
            min: getNowFormatDate(1),
            range: true
        });

        laydate.render({
            elem : '#consultDate',
            max: getNowFormatDate(0),
            range: true
        });

        function newsList(that){
            //渲染数据
            function renderDate(data,curr){
                var dataHtml = '';
                if(!that){
                    currData = newsData.concat().splice(curr*nums-nums, nums);
                }else{
                    currData = that.concat().splice(curr*nums-nums, nums);
                }
                if(currData.length != 0){
                    for(var i=0;i<currData.length;i++){
                        dataHtml += '<tr>'
                            +'<td>'+currData[i].estimateDate+'</td>'
                            +'<td>'+currData[i].week+'</td>'
                            +'<td>'+currData[i].goodsName+'</td>'
                            +'<td>'+currData[i].consultBusiness+'</td>'
                            +'<td>'+currData[i].estimateBusiness+'</td>'
                            +'</tr>';
                    }
                }else{
                    dataHtml = '<tr><td colspan="8">暂无数据</td></tr>';
                }
                return dataHtml;
            }

            //分页
            var nums = 10; //每页出现的数据量
            if(that){
                newsData = that;
            }
            laypage({
                cont : "page",
                pages : Math.ceil(newsData.length/nums),
                jump : function(obj){
                    $(".news_content").html(renderDate(newsData,obj.curr));
                    $('.news_list thead input[type="checkbox"]').prop("checked",false);
                    form.render();
                }
            })
        }

        function getNowFormatDate(days) {
            var date = new Date();
            date.setDate(date.getDate()+days)
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }

        form.on("submit(search_btn)",function(data){
            var field =data.field;
            if(field.storeId==="" || field.goodId==="" || field. estimateDate==="" || field.consultDate==="" ){
                layer.msg("请输入必填参数");
            }else{
                $.ajax({
                    url : "/estimate",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(field),
                    success : function(data){
                        newsList(data);
                    }
                });
            }
            return false;
        });

    })
</script>
</body>
</html>