<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all">
</head>
<body>
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <input type="text" name="username" placeholder="请输入门店" autocomplete="off" class="layui-input search_input">
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal search_btn">搜索</a>
    </div>
</blockquote>
<div class="layui-form news_list">
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th style="text-align: center"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
            <th style="text-align:center;">单号</th>
            <th>门店名称</th>
            <th>物品名称</th>
            <th>供应商名称</th>
            <th>数量</th>
            <th>单价</th>
            <th>金额</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="news_content"></tbody>
    </table>
</div>
<div id="page"></div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','laypage'], function() {
        var form = layui.form(),
            laypage = layui.laypage,
            $ = layui.jquery;

        //添加文章
        //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
        $(window).one("resize",function(){
            $(".newsAdd_btn").click(function(){
                var index = layui.layer.open({
                    title : "添加",
                    type : 2,
                    content : "addin.html",
                    success : function(layero, index){
                        setTimeout(function(){
                            layui.layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                                tips: 3
                            });
                        },500)
                    }
                })
                layui.layer.full(index);
            })
        }).resize();

        //加载数据
        $.get("/stock/manage/rk?keyword=", function(data){
            newsList(data);
        });

        function newsList(that){
            //渲染数据
            function renderDate(data,curr){
                var dataHtml = '';
                if(!that){
                    currData = newsData.concat().splice(curr*nums-nums, nums);
                }else{
                    currData = that.concat().splice(curr*nums-nums, nums);
                }
                if(currData.length != 0){
                    for(var i=0;i<currData.length;i++){
                        dataHtml += '<tr>'
                            +'<td align="center"><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose"></td>'
                            +'<td align="left">'+currData[i].id+'</td>'
                            +'<td>'+currData[i].storeName+'</td>'
                            +'<td>'+currData[i].goodsName+'</td>'
                            +'<td>'+currData[i].supplierName+'</td>'
                            +'<td>'+currData[i].goodsAmt+'</td>'
                            +'<td>'+currData[i].goodsPrice+'</td>'
                            +'<td>'+accMul(currData[i].goodsAmt,currData[i].goodsPrice)+'</td>'
                            +'<td>'
                            +  '<a class="layui-btn layui-btn-mini news_edit" data-id="'+data[i].id+'"> 确认</a>'
                            +'</td>'
                            +'</tr>'

                    }
                }else{
                    dataHtml = '<tr><td colspan="8">暂无数据</td></tr>';
                }
                return dataHtml;
            }

            //分页
            var nums = 10; //每页出现的数据量
            if(that){
                newsData = that;
            }
            laypage({
                cont : "page",
                pages : Math.ceil(newsData.length/nums),
                jump : function(obj){
                    $(".news_content").html(renderDate(newsData,obj.curr));
                    $('.news_list thead input[type="checkbox"]').prop("checked",false);
                    form.render();
                }
            })
        }

        $("body").on("click",".news_edit",function(){  //确认
            var _this = $(this);
            layer.confirm('确定入库？',{icon:3, title:'提示信息'},function(index){
                $.ajax({
                    url:'/stock/yasuo/'+_this.attr("data-id"),
                    type: 'POST',
                    success: function (data) {
                        location.reload();
                    }
                });
                layer.close(index);
            });
        });

        function accMul(num1,num2){
            var m=0,s1=num1.toString(),s2=num2.toString();
            try{m+=s1.split(".")[1].length}catch(e){};
            try{m+=s2.split(".")[1].length}catch(e){};
            return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m);
        }

        //查询
        $(".search_btn").click(function(){
            if($(".search_input").val() != ''){
                var index = layer.msg('查询中，请稍候',{icon: 16,time:false,shade:0.8});
                $.ajax({
                    url : "/stock/manage/rk?keyword="+$(".search_input").val(),
                    type : "get",
                    success : function(data){
                        newsList(data);
                    }
                })
                layer.close(index);
            }else{
                layer.msg("请输入需要查询的内容");
            }
        });

    })
</script>
</body>
</html>